#quiz-header{
    text-align: center;
}



body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
    border-radius: 10px;
    background-color: blue;
    width: 500px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    
}
.content-wrapper {
    display:flex;
    justify-content: space-between;

}
    .quiz-container h3 {
        text-align: center;
    }
